<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You're Invited</h1>
    <p>
      You have been invited to a blind wine tasting, sommelier-style!<br>
    </p>
    <p>
      To login to the site, just go to this URL: <%= @url %>
    </p>
    <p>Happy sipping!</p>
  </body>
</html>
