<div id="tutorial">
  <h2>How to Taste</h2>

  <h4>Pour a Taste</h4>
  <p>A full wine glass is 5 ounces. To taste, you want to pour about half of that, so you have space in your glass to swirl (more on this later).</p>

  <h4>The Nose</h4>
  <p>Swirl your glass. This isn't just to look fancy. Jancis Robinson explains:
    <blockquote cite="http://www.jancisrobinson.com/learn/drinking-wine/how-to-become-a-wine-taster">Since a wine's flavour molecules are given off only on the liquid's surface, they can be seriously encouraged by maximizing the wine's surface area.</blockquote></p>
  <p>Put your entire nose in the glass and smell. Pay attention to the fruits, minerality, oak and other major components of tasting described below.</p>

  <h4>The Palate</h4>
  <p>This is the fun part. Take a large sip of the wine (don't be shy) and move the wine across your tongue. Slurping, like when you're drinking a hot beverage, helps aerate the wine in your mouth.</p>
  <p>Revisit the components of the wine: fruits, minerality, etc. Ask yourself whether what you're tasting maps onto what you smelled earlier.</p>

  <h2>What to Look for</h2>

  <h4>Fruits</h4>
  <p>Each grape varietal has its own characteristic fruit profile. For example, Sangiovese is known for tart red fruits like sour cherry, whereas Syrah is known for more black-fruited notes like black currant.</p>

  <h4>Minerality</h4>
  <p>The source of minerality in wine is <a href="http://www.guildsomm.com/TC/stay_current/podcasts/b/guild_podcasts/archive/2014/04/24/wine-soil-and-geology">not entirely known</a>, but no one disagrees that wines have distinct levels and types of minerality. Minerality can fall into inorganic (stone, crushed rock) or organic (earth, clay) categories. Wines from cooler climates tend to have higher levels of minerality.</p>

  <h4>Oak</h4>
  <p>Oak imparts vanilla and baking spice notes to wine. It also makes wines slightly more textural. New oak is expensive to use, which means that a wine with an obvious amount of oak on it probably comes from a region that can afford it -- think Bordeaux, Napa, Burgundy."</p>

  <h4>Dryness</h4>
  <p>Dryness simply refers to the lack of sugar in a wine. Almost all red wines are completely dry, although wines from warmer regions (California, Argentina, Australia) can have a syrupy ripeness. An off-dry white wine indicates that the wine hails from a specific set of regions. Vouvray in France and the Mosel in Germany are two regions where off-dry whites are the stylistic norm.</p>

  <h4>Acidity</h4>
  <p>Acid is a clue that a wine is from a cool region and vice versa. A low acid wine probably comes from a warm regions. Cool climates preserve acidity by slowing the ripening process, which metabolizes acid.</p>

  <h4>Alcohol</h4>
  <p>Alcohol is another good indicator of climate. Higher alcohol means the grapes started with high sugar levels before fermentation. A high alcohol wine likely comes from a warmer region where the grapes got really ripe.</p>

  <h2>Making Conclusions</h2>
  <h4>Climate</h4>
  <p>Certain characteristics of a wine directly map onto climate. Cooler climates tend to have higher acid, less alcoholic wines, with more tart fruit profiles. Warm climates, on the other hand, typically have lower acid, higher alcohol, and riper fruit characteristics.</p>

  <h4>Country and Grape</h4>
  <p>The country and grape are difficult to correctly guess in a blind tasting. Specific regions are traditionally known for producing certain grapes. When you think Cabernet Sauvignon, you probably think Napa Valley or Bordeaux. Getting familiar with these traditional regions is the first step towards making accurate conclusions.</p>
  <p>After that, only practice will help you build your own taste associations between specific wines and the notes that jump out at you.</p>

  <br>
  <br>
  <br>
</div>
