<div id="tutorial">
  <h2>A Simple Guide to Tasting Wine</h2>

  <h4>Before You Start</h4>
  <p>Before you even begin, we suggest clearing the room around you of unnecessary sensory distractions.  If people are talking too loudly, it's difficult to concentrate.  If you're standing near what's cooking for dinner, the smells will confuse your nose and throw off your sense of the wine.  Just like food is best enjoyed when you can fully focus on it, so too is wine best enjoyed with all of your senses fully engaged.</p>

  <h4>Appearance</h4>
  <p>Start by taking a look at the wine's color.  Red wines aren't just marooon.  White wines aren't just gold.  What other colors do you see in your glass?  You can learn a lot about a wine from looking at its color, including the type of grape used, the climate in which that grape was grown, and its age.</p>

  <h4>Angles</h4>
  <p>Tilting the glass and looking at it from different angles provide a different way in which you can determine the characteristics of a wine that relate to its appearance.  If you are concerned about its quality, a side view or a tilted view can also help determine if a wine is past its prime.<br>
  <br>
  Before you take that first sniff, give the wine a gentle swirl.  This action helps to aerate the wine, which will enhance its natural flavor and aroma to make it more detectable.
  </p>

  <h4>The Nose or Bouquet</h4>
  <p>When you first smell the wine, don't bury your nose in the glass, but hover over it gently.  Take a few short sniffs as you think about what your nose is telling you.  Do you detect any fruit aromas?  You know that it contains grapes, but is there perhaps some lingering citrus scent?  Does it smell oaky or of any particular mineral?  Don't worry if you can't figure this out at first.  You'll get better with time.</p>

  <h4>The Mouth</h4>
  <!-- dryness, acidity, tannins, alcohol for reds -->
  <!-- dryness, acidity, alcohol for whites -->
  <p>Now it's time to taste the wine.  Take a sip (just a sip) of wine into your mouth.  Let the wine roll around your tongue, hitting all of your tastebuds.  You'll probably notice some of the same flavors as when you sniffed the wine, but tasting it lets you in on a few more characteristics.  Tannins are much more commonly found in red wine so for the purposes of this tasting app, only concern yourself with that dry and astringent quality (much like unsweetened black tea) when tasting red wines.  Acidity is most easily tasted at the sides of the tongue so make sure that you don't skip the step of letting the wine roll around your tongue is important.</p>

  <h4>The Aftertaste</h4>
  <p>Once your tongue has done all the observation that it can, swallow the wine and savor its taste.  The longer the taste stays in your mouth after swallowing, the higher the wine's quality.  As Paul Gregutt helpfully points out,
  <blockquote cite="http://www.winemag.com/how-to-taste-wine/">Complex wines seem to dance in your mouth. They change, even as you’re tasting them. They are like good paintings; the more you look at them the more there is to see. In older wines, these complexities sometimes evolve into the realm of the sublime...Most beginning wine drinkers move on too quickly to the next sip when a really good wine is in the glass. Hold on! Let the wine finish its dance before you change partners.</blockquote>
  If you find videos helpful, check out the links below.  Cheers!</p>
  <h4>Video Links</h4>
  <a href="http://www.decanter.com/wine-learning/how-to/475670/how-to-taste-wine" target="_blank">Guide by Steven Spurrier at Decanter</a>
  <br>
  <a href="https://www.youtube.com/watch?v=13h4X5wMYhg" target="_blank">James Nevison's 4-step Wine Tasting Tutorial</a>
  <br>
  <a href="http://winefolly.com/tutorial/how-to-taste-wine/" target="_blank">WineFolly How to Taste Wine Like an Expert</a>
  <br>
  <br>
  <br>
</div>
