	<h2>“Accept what life offers you and try to drink from every cup. All wines should be tasted; some should only be sipped, but with others, drink the whole bottle.”</h2>
	<h2>― Paulo Coelho, Brida</h2>

	<% unless session[:user_id] %>
		<%= link_to "Log In/Sign Up", login_path, :class => "button" %>
	<% end %>
