<h3>WINE TASTING APP</h3>
<h4>Accept what life offers you and try to drink from every cup.</h4>

<div id="snippet1">
  <div class="glass-icon">
    <img src="images/red_wine.png" alt="wine glass">
  </div>
  <p>This app makes wine more accessible to your average wine drinker who may enjoy wine socially, but not know much about how to critically examine it.  Wine knowledge should not be limited to the hands of master sommeliers, but should be available to all who are interested.</p>
</div>
<div id="snippet2">
  <div class="bottle-icon">
    <img src="images/wine_bottle.png" alt="wine bottle" align="middle">
  </div>
  <p>Wine tastings foster the growth of genuine social connection and critical analysis skills, but depend on a leader to know each wine's characteristics. This app removes that burden, giving each taster the opportunity to build on their own abilities within a group setting.</p>
</div>
