<div class="card-separator" id="fruit_condition"></div>
<div class="card">
  <label for="fruit_condition"><h2>Fruit Condition</h2></label><br>
  <input type="radio" name="fruit_condition" value="tart" id="fc-tart"><label 
  for="fc-tart">Tart</label><br>
  <input type="radio" name="fruit_condition" value="ripe" id="fc-ripe"><label 
  for="fc-ripe">Ripe</label><br>
  <input type="radio" name="fruit_condition" value="over_ripe" id="fc-over_ripe"><label 
  for="fc-over_ripe">Over-ripe</label><br>
  <input type="radio" name="fruit_condition" value="jammy" id="fc-jammy"><label 
  for="fc-jammy">Jammy</label>
  <a href="#minerality">&#x25BE;</a>
</div>

<div class="card-separator" id="minerality"></div>
<div class="card">
  <label for="minerality"><h2>Minerality</h2></label><br>
  <input type="radio" name="minerality" value="low"  id="mn-low"><label for="mn-low">low</label><br>
  <input type="radio" name="minerality" value="med-minus" id="mn-med-minus"><label for="mn-med-minus">med-minus</label><br>
  <input type="radio" name="minerality" value="med" id="mn-med"><label for="mn-med">med</label><br>
  <input type="radio" name="minerality" value="mn-med-plus" id="med-plus"><label for="mn-med-plus">med-plus</label><br>
  <input type="radio" name="minerality" value="hi" id="mn-hi"><label for="mn-hi">high</label>
  <a href="#oak">&#x25BE;</a>
</div>

<div class="card-separator" id="oak"></div>
<div class="card">
  <label for="oak"><h2>Oak</h2></label><br>
  <input type="radio" name="oak" value="low" id="oak-low"><label for="oak-low">low</label><br>
  <input type="radio" name="oak" value="med-minus" id="oak-med-minus"><label for="oak-med-minus">med-minus</label><br>
  <input type="radio" name="oak" value="med" id="oak-med"><label for="oak-med">med</label><br>
  <input type="radio" name="oak" value="med-plus" id="oak-med-plus"><label for="oak-med-plus">med-plus</label><br>
  <input type="radio" name="oak" value="oak-hi" id="oak-hi"><label for="hi">high</label>
  <a href="#dry">&#x25BE;</a>
</div>

<div class="card-separator" id="dry"></div>
<div class="card">
  <label for="dry"><h2>Dryness</h2></label><br>
  <input type="radio" name="dry" value="low" id="dry-low"><label for="dry-low">low</label><br>
  <input type="radio" name="dry" value="med-minus" id="dry-med-minus"><label for="dry-med-minus">med-minus</label><br>
  <input type="radio" name="dry" value="med" id="dry-med"><label for="dry-med">med</label><br>
  <input type="radio" name="dry" value="med-plus" id="dry-med-plus"><label for="dry-med-plus">med-plus</label><br>
  <input type="radio" name="dry" value="hi" id="dry-hi"><label for="dry-hi">high</label>
  <a href="#acid">&#x25BE;</a>
</div>

<div class="card-separator" id="acid"></div>
<div class="card">
  <label for="acid"><h2>Acidity</h2></label><br>
  <input type="radio" name="acid" value="low" id="acid-low"><label for="acid-low">low</label><br>
  <input type="radio" name="acid" value="med-minus" id="acid-med-minus"><label for="acid-med-minus">med-minus</label><br>
  <input type="radio" name="acid" value="med" id="acid-med"><label for="acid-med">med</label><br>
  <input type="radio" name="acid" value="med-plus" id="acid-med-plus"><label for="acid-med-plus">med-plus</label><br>
  <input type="radio" name="acid" value="hi" id="acid-hi"><label for="acid-hi">high</label>
  <% if @wine.color == "red" %>
    <a href="#tannin">&#x25BE;</a>
  <% else %>
    <a href="#alcohol">&#x25BE;</a>
  <% end %>
  
</div>

<% if @wine.color == "red" %>
  <%= render "tannin" %>
<% end %>

<div class="card-separator" id="alcohol"></div>
<div class="card">
  <label for="alcohol"><h2>Alcohol</h2></label><br>
  <input type="radio" name="alcohol" value="low" id="alc-low"><label for="alc-low">low</label><br>
  <input type="radio" name="alcohol" value="med-minus" id="alc-med-minus"><label for="alc-med-minus">med-minus</label><br>
  <input type="radio" name="alcohol" value="med" id="alc-med"><label for="alc-med">med</label><br>
  <input type="radio" name="alcohol" value="med-plus" id="alc-med-plus"><label for="alc-med-plus">med-plus</label><br>
  <input type="radio" name="alcohol" value="hi" id="alc-hi"><label for="alc-hi">high</label>
  <a href="#climate">&#x25BE;</a>
</div>

<div class="card-separator" id="climate"></div>
<h3>Conclusions</h3>
<div class="card">
  <label for="climate"><h2>Climate</h2></label><br>
  <input type="radio" name="climate" value="cool" id="climate-cool"><label for="climate-cool">Cool</label><br>
  <input type="radio" name="climate" value="warm" id="climate-warm"><label for="climate-warm">Warm</label>
  <a href="#country">&#x25BE;</a>
</div>

<div class="card-separator" id="country"></div>
<div class="card">
  <label for="country"><h2>Country of Origin</h2></label><br>
  <input type="radio" name="country" value="france" id="france"><label for="france">France</label><br>
  <input type="radio" name="country" value="italy" id="italy"><label for="italy">Italy</label><br>
  <input type="radio" name="country" value="united_states" id="united_states"><label for="united_states">US</label><br>
  <input type="radio" name="country" value="australia" id="australia"><label for="australia">Australia</label><br>
  <input type="radio" name="country" value="argentina" id="argentina"><label for="argentina">Argentina</label><br>
  <input type="radio" name="country" value="germany" id="germany"><label for="germany">Germany</label><br>
  <input type="radio" name="country" value="new_zealand" id="new_zealand"><label for="new_zealand">N. Zealand</label><br>
  <a href="#grape">&#x25BE;</a>
</div>
