  <label for="red_fruits">Fruits</label><br>
  <select name="red_fruits">
    <option value="red">red</option>
    <option value="blue">blue</option>
    <option value="black">black</option>
  </select><br>

  <label for="fruit_condition">Fruit Condition</label><br>
  <select name="fruit_condition">
    <option value="tart">tart</option>
    <option value="ripe">ripe</option>
    <option value="over_ripe">over-ripe</option>
    <option value="jammy">jammy</option>
  </select><br>

  <label for="minerality">Minerality</label><br>
  <select name="minerality">
    <option value="1">low</option>
    <option value="2">med-minus</option>
    <option value="3">med</option>
    <option value="4">med-plus</option>
    <option value="5">hi</option>
  </select><br>

  <label for="oak">Oak</label><br>
  <select name="oak">
    <option value="1">low</option>
    <option value="2">med-minus</option>
    <option value="3">med</option>
    <option value="4">med-plus</option>
    <option value="5">hi</option>
  </select><br>

  <label for="dry">Dryness</label><br>
  <select name="dry">
    <option value="1">low</option>
    <option value="2">med-minus</option>
    <option value="3">med</option>
    <option value="4">med-plus</option>
    <option value="5">hi</option>
  </select><br>

  <label for="acid">Acidity</label><br>
  <select name="acid">
    <option value="1">low</option>
    <option value="2">med-minus</option>
    <option value="3">med</option>
    <option value="4">med-plus</option>
    <option value="5">hi</option>
  </select><br>

  <label for="tannin">Tannins</label><br>
  <select name="tannin">
    <option value="1">low</option>
    <option value="2">med-minus</option>
    <option value="3">med</option>
    <option value="4">med-plus</option>
    <option value="5">hi</option>
  </select><br>

  <label for="alcohol">Alcohol</label><br>
  <select name="alcohol">
    <option value="1">low</option>
    <option value="2">med-minus</option>
    <option value="3">med</option>
    <option value="4">med-plus</option>
    <option value="5">hi</option>
  </select><br>

  <label for="climate">Climate</label><br>
  <select name="climate">
    <option value="cool">Cool</option>
    <option value="warm">Warm</option>
  </select><br>

  <label for="country">Country of Origin</label><br>
  <select name="country">
    <option value="france">France</option>
    <option value="italy">Italy</option>
    <option value="us">US</option>
    <option value="australia">Australia</option>
    <option value="argentina">Argentina</option>
    <option value="germany">Germany</option>
    <option value="new_zealand">New Zealand</option>
  </select><br>

  <label for="red_grape">Grape</label><br>
  <select name="red_grape">
    <option value="gamay">Gamay</option>
    <option value="cabernet_sauvignon">Cabernet Sauvignon</option>
    <option value="merlot">Merlot</option>
    <option value="malbec">Malbec</option>
    <option value="syrah_shiraz">Syrah/Shiraz</option>
    <option value="pinot_noir">Pinot Noir</option>
    <option value="sangiovese">Sangiovese</option>
    <option value="brunello">Brunello</option>
  </select><br><br>
