<div class="card">
  <label for="red_fruits"><h2>Fruits</h2></label><br>
  <input type="radio" name="red_fruits" value="red" id="red"><label for="red">Red</label><br>
  <input type="radio" name="red_fruits" value="blue" id="blue"><label for="blue">Blue</label><br>
  <input type="radio" name="red_fruits" value="black" id="black"><label for="black">Black</label><br>
</div>

<%= render "both_wines" %>

<div class="card">
  <label for="red_grape"><h2>Grape</h2></label><br>
  <select name="red_grape">
    <option value="gamay">Gamay</option>
    <option value="cabernet_sauvignon">Cabernet Sauvignon</option>
    <option value="merlot">Merlot</option>
    <option value="malbec">Malbec</option>
    <option value="syrah_shiraz">Syrah/Shiraz</option>
    <option value="pinot_noir">Pinot Noir</option>
    <option value="sangiovese">Sangiovese</option>
    <option value="brunello">Brunello</option>
  </select><br><br>
</div>
