<div class="card-separator" id="get-tannin"></div>
<div class="card">
	<label for="tannin"><h2>Tannins</h2></label><br>
  <input type="radio" name="tannin" value="low" id="tan-low"><label for="tan-low">low</label><br>
  <input type="radio" name="tannin" value="med-minus" id="tan-med-minus"><label for="tan-med-minus">med-minus</label><br>
  <input type="radio" name="tannin" value="med" id="tan-med"><label for="tan-med">med</label><br>
  <input type="radio" name="tannin" value="med-plus" id="tan-med-plus"><label for="tan-med-plus">med-plus</label><br>
  <input type="radio" name="tannin" value="hi" id="tan-hi"><label for="tan-hi">high</label>
	<a href="#get-alcohol">&#x25BE;</a>
</div>
