<div class="card">
  <label for="white_fruits"><h2>Fruits</h2></label><br>
<!--   <select name="white_fruits">
    <option value="apple_pear">Apple/Pear</option>
    <option value="stone">Stone Fruit</option>
    <option value="citrus">Citrus</option>
    <option value="tropical">Tropical</option>
  </select><br> -->
  <input type="radio" name="white_fruits" value="apple_pear" id="apple_pear"><label for="apple_pear">Apple/Pear</label><br>
  <input type="radio" name="white_fruits" value="stone" id="stone"><label for="stone">Stone</label><br>
  <input type="radio" name="white_fruits" value="citrus" id="citrus"><label for="citrus">Citrus</label><br>
  <input type="radio" name="white_fruits" value="tropical" id="tropical"><label for="tropical">Tropical</label>
</div>

<div class="card">
  <label for="fruit_condition">Fruit Condition</label><br>
<!--   <select name="fruit_condition">
    <option value="tart">tart</option>
    <option value="ripe">ripe</option>
    <option value="over_ripe">over-ripe</option>
    <option value="jammy">jammy</option>
  </select><br> -->
  <input type="radio" name="fruit_condition" value="tart" id="tart"><label for="tart">Tart</label><br>
  <input type="radio" name="fruit_condition" value="ripe" id="ripe"><label for="ripe">Ripe</label><br>
  <input type="radio" name="fruit_condition" value="over_ripe" id="over_ripe"><label for="over_ripe">Over-ripe</label><br>
  <input type="radio" name="fruit_condition" value="jammy" id="jammy"><label for="jammy">Jammy</label>


</div>

<div class="card">
  <label for="minerality">Minerality</label><br>
<!--   <select name="minerality">
    <option value="1">low</option>
    <option value="2">med-minus</option>
    <option value="3">med</option>
    <option value="4">med-plus</option>
    <option value="5">hi</option>
  </select><br> -->

  <div class="range-slider radius" data-slider data-options="start: 1; end: 5; step: 1;">
    <span class="range-slider-handle" role="slider" tabindex="0"></span>
    <span class="range-slider-active-segment"></span>
    <datalist id=volsettings>
      <option>0</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      </datalist>
    <input type="hidden">
  </div>

<!--   <input type="range" name="minerality" id="minerality" value="60" min="0" max="5" step="1" data-highlight="true"> -->
</div>

<div class="card">
  <label for="oak">Oak</label><br>
  <select name="oak">
    <option value="1">low</option>
    <option value="2">med-minus</option>
    <option value="3">med</option>
    <option value="4">med-plus</option>
    <option value="5">hi</option>
  </select><br>
</div>

<div class="card">
  <label for="dry">Dryness</label><br>
  <select name="dry">
    <option value="1">low</option>
    <option value="2">med-minus</option>
    <option value="3">med</option>
    <option value="4">med-plus</option>
    <option value="5">hi</option>
  </select><br>
</div>

<div class="card">
  <label for="acid">Acidity</label><br>
  <select name="acid">
    <option value="1">low</option>
    <option value="2">med-minus</option>
    <option value="3">med</option>
    <option value="4">med-plus</option>
    <option value="5">hi</option>
  </select><br>
</div>

<div class="card">
  <label for="alcohol">Alcohol</label><br>
  <select name="alcohol">
    <option value="1">low</option>
    <option value="2">med-minus</option>
    <option value="3">med</option>
    <option value="4">med-plus</option>
    <option value="5">hi</option>
  </select><br>
</div>

<div class="card">
  <label for="climate">Climate</label><br>
  <select name="climate">
    <option value="cool">Cool</option>
    <option value="warm">Warm</option>
  </select><br>
</div>

<div class="card">
  <label for="country">Country of Origin</label><br>
  <select name="country">
    <option value="france">France</option>
    <option value="italy">Italy</option>
    <option value="us">US</option>
    <option value="australia">Australia</option>
    <option value="argentina">Argentina</option>
    <option value="germany">Germany</option>
    <option value="new_zealand">New Zealand</option>
  </select><br>
</div>

<div class="card">
  <label for="white_grape">Grape</label><br>
  <select name="white_grape">
    <option value="chardonnay">Chardonnay</option>
    <option value="sauvignon_blanc">Sauvignon Blanc</option>
    <option value="riesling">Riesling</option>
    <option value="chenin_blanc">Chenin Blanc</option>
    <option value="viognier">Viognier</option>
  </select><br><br>
</div>