<div class="card">
   <label for="white_fruits"><h2>Fruits</h2></label><br>
  <input type="radio" name="white_fruits" value="apple_pear" id="apple_pear"><label for="apple_pear">Apple/Pear</label><br>
  <input type="radio" name="white_fruits" value="stone" id="stone"><label for="stone">Stone</label><br>
  <input type="radio" name="white_fruits" value="citrus" id="citrus"><label for="citrus">Citrus</label><br>
  <input type="radio" name="white_fruits" value="tropical" id="tropical"><label for="tropical">Tropical</label>
</div>

<div class="card">
  <label for="fruit_condition"><h2>Fruit Condition</h2></label><br>
  <input type="radio" name="fruit_condition" value="tart" id="tart"><label for="tart">Tart</label><br>
  <input type="radio" name="fruit_condition" value="ripe" id="ripe"><label for="ripe">Ripe</label><br>
  <input type="radio" name="fruit_condition" value="over_ripe" id="over_ripe"><label for="over_ripe">Over-ripe</label><br>
  <input type="radio" name="fruit_condition" value="jammy" id="jammy"><label for="jammy">Jammy</label>
</div>

<div class="card">
  <label for="minerality"><h2>Minerality</h2></label><br>
  <input type="radio" name="minerality" value="low" id="low"><label for="low">low</label><br>
  <input type="radio" name="minerality" value="med-minus" id="med-minus"><label for="med-minus">med-minus</label><br>
  <input type="radio" name="minerality" value="med" id="med"><label for="med">med</label><br>
  <input type="radio" name="minerality" value="med-plus" id="med-plus"><label for="med-plus">med-plus</label><br>
  <input type="radio" name="minerality" value="hi" id="hi"><label for="hi">high</label>
</div>

<div class="card">
  <label for="oak"><h2>Oak</h2></label><br>
  <input type="radio" name="oak" value="low" id="low"><label for="low">low</label><br>
  <input type="radio" name="oak" value="med-minus" id="med-minus"><label for="med-minus">med-minus</label><br>
  <input type="radio" name="oak" value="med" id="med"><label for="med">med</label><br>
  <input type="radio" name="oak" value="med-plus" id="med-plus"><label for="med-plus">med-plus</label><br>
  <input type="radio" name="oak" value="hi" id="hi"><label for="hi">high</label>
</div>

<div class="card">
  <label for="dry"><h2>Dryness</h2></label><br>
  <input type="radio" name="dry" value="low" id="low"><label for="low">low</label><br>
  <input type="radio" name="dry" value="med-minus" id="med-minus"><label for="med-minus">med-minus</label><br>
  <input type="radio" name="dry" value="med" id="med"><label for="med">med</label><br>
  <input type="radio" name="dry" value="med-plus" id="med-plus"><label for="med-plus">med-plus</label><br>
  <input type="radio" name="dry" value="hi" id="hi"><label for="hi">high</label>
</div>

<div class="card">
  <label for="acid"><h2>Acidity</h2></label><br>
  <input type="radio" name="acid" value="low" id="low"><label for="low">low</label><br>
  <input type="radio" name="acid" value="med-minus" id="med-minus"><label for="med-minus">med-minus</label><br>
  <input type="radio" name="acid" value="med" id="med"><label for="med">med</label><br>
  <input type="radio" name="acid" value="med-plus" id="med-plus"><label for="med-plus">med-plus</label><br>
  <input type="radio" name="acid" value="hi" id="hi"><label for="hi">high</label>
</div>

<div class="card">
  <label for="alcohol"><h2>Alcohol</h2></label><br>
  <input type="radio" name="alcohol" value="low" id="low"><label for="low">low</label><br>
  <input type="radio" name="alcohol" value="med-minus" id="med-minus"><label for="med-minus">med-minus</label><br>
  <input type="radio" name="alcohol" value="med" id="med"><label for="med">med</label><br>
  <input type="radio" name="alcohol" value="med-plus" id="med-plus"><label for="med-plus">med-plus</label><br>
  <input type="radio" name="alcohol" value="hi" id="hi"><label for="hi">high</label>
</div>

<div class="card">
  <label for="climate"><h2>Climate</h2></label><br>
  <input type="radio" name="climate" value="cool" id="cool"><label for="cool">Cool</label><br>
  <input type="radio" name="climate" value="warm" id="warm"><label for="warm">Warm</label>
</div>

<div class="card">
  <label for="country"><h2>Country of Origin</h2></label><br>
  <input type="radio" name="country" value="france" id="france"><label for="france">France</label><br>
  <input type="radio" name="country" value="italy" id="italy"><label for="italy">Italy</label><br>
  <input type="radio" name="country" value="us" id="us"><label for="us">US</label><br>
  <input type="radio" name="country" value="australia" id="australia"><label for="australia">Australia</label><br>
  <input type="radio" name="country" value="argentina" id="argentina"><label for="argentina">Argentina</label><br>
  <input type="radio" name="country" value="germany" id="germany"><label for="germany">Germany</label><br>
  <input type="radio" name="country" value="new_zealand" id="new_zealand"><label for="new_zealand">N. Zealand</label><br>
</div>

<div class="card">
  <label for="white_grape"><h2>Grape</h2></label><br>
  <select name="white_grape">
    <option value="chardonnay">Chardonnay</option>
    <option value="sauvignon_blanc">Sauvignon Blanc</option>
    <option value="riesling">Riesling</option>
    <option value="chenin_blanc">Chenin Blanc</option>
    <option value="viognier">Viognier</option>
  </select><br><br>
</div>