<div class="card">
   <label for="white_fruits"><h2>Fruits</h2></label><br>
  <input type="radio" name="white_fruits" value="apple_pear" id="apple_pear"><label for="apple_pear">Apple/Pear</label><br>
  <input type="radio" name="white_fruits" value="stone" id="stone"><label for="stone">Stone</label><br>
  <input type="radio" name="white_fruits" value="citrus" id="citrus"><label for="citrus">Citrus</label><br>
  <input type="radio" name="white_fruits" value="tropical" id="tropical"><label for="tropical">Tropical</label>
  <a href="#fruit_condition">&#x25BE;</a>
</div>

<%= render "both_wines" %>
<div class="card-separator" id="grape"></div>
<div class="card" >
  <label for="white_grape"><h2>Grape</h2></label><br>
  <select name="white_grape">
    <option value="chardonnay">Chardonnay</option>
    <option value="sauvignon_blanc">Sauvignon Blanc</option>
    <option value="riesling">Riesling</option>
    <option value="chenin_blanc">Chenin Blanc</option>
    <option value="viognier">Viognier</option>
    <option value="pinot_grigio">Pinot Grigio</option>
  </select><br><br>
  <a href="#notes">&#x25BE;</a>
</div>
