<div class="error">
  <% if flash[:event_error] %>
    <% flash[:event_error].each do |msg| %>
      <p><%= msg %></p>
    <%end%>
  <%end%>
</div>

<%= render "form" %>

<%= button_to "Delete Event", event_path(@event), method: :delete, confirm: "Are you sure you want to permanently delete your event?", class: 'pure-button' %>
