<div class="error">
  <% if flash[:event_error] %>
    <% flash[:event_error].each do |msg| %>
      <p><%= msg %></p>
    <%end%>
  <%end%>

  <% if flash[:new_event_error] %>
  	<p><%= flash[:new_event_error] %></p>
  <% end %>
</div>

<%= render "form" %>
