<h1><%= @event.name %></h1>
<p><%= @event.date %></p>
<p><%= @event.time %></p>
<p><%= @event.location %></p>
<p>Attendees here.</p>
<p>Button to start tasting.</p>

<!-- Need to either format the display to show just the
date and the time or save it better in the database. -->
