<h2>My Results</h2>
<% @user_scores.each do |id, score| %>
  <h3>Wine <%= id %>:</h3>
  <ul>
    <li>Correct categories:</li>
    <ul>
      <% score[:correct].each do |category| %>
        <li><%= category.to_s.sub("_"," ").split.map(&:capitalize).join(' ') %></li>
      <% end %>
    </ul>
    <li>Incorrect categories:</li>
    <ul>
      <% score[:incorrect].each do |category| %>
        <li><%= category.to_s.sub("_"," ").split.map(&:capitalize).join(' ') %></li>
      <% end %>
    </ul>
    <li>Score: <%= score[:score] %></li>
  </ul>
<% end %>
