.micrograph {
  height: 35px;
  width: 35px;
  margin: auto;
}

.user-response {
  background-color: green;
  width: 40%;
  float: left;
  position: relative;
  margin-bottom: 0;
}

.somm-response {
  background-color: blue;
  width: 40%;
  float: left;
  position: relative;
  margin-bottom: 0;
}
