nav.top-bar {
    background: #86A02D;
}

nav.top-bar h1 {
    background: #86A02D;
}

nav.top-bar h1 a{
    font-size: 1.5em;
}

.top-bar-section li a:not(.button) {
    background: #86A02D !important;
}

.top-bar-section li a:hover {
    background: #4d591a !important;
}

#wrapper {
    background-image: url('/images/winery-003.jpg');
    background-repeat: no-repeat;
    width: 100% !important;
    z-index: 0;
    height: 100%;
}

ul {
  list-style-type: none;
  color: white;
}

.container {
  width: 80%;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  /* TODO: change bg-color when finished testing */
  background-color: #EDF5DF;
}

.container#home {
  background-color: rgba(65,57,69,0.5);
}

input.button, a.button {
  background-color: #86a02d;
}

input.button#taste {
  background-color: #9685a0;
}

body {
  background-color: #e3ebd6 !important;
}

body a {
  color: #33cc33;
}

button:hover, button:focus, .button:hover, .button:focus {
  background-color: #4d591a !important;
}

input.button#taste:hover {
  background-color: rgba(65,57,69,.8) !important;
}

h1, h2, h3, h4, h5, p #home {
  color: black !important;
}

#home {
  color: white !important;
}
