nav.top-bar {
  margin-top: -4px;
  background: #86A02D;
  position: fixed;
  width: 100%;
}

nav.top-bar h1 {
  background: #86A02D;
}

nav.top-bar h1 a{
  font-size: 1.5em;
}

.top-bar-section li a:not(.button) {
  font-size: 1em;
  background: #86A02D !important;
}

.top-bar-section li a:hover {
  background: #4d 591a !important;
}

#splash {
  background-image: url('/images/winery-003.jpg');
  background-repeat: no-repeat;
  width: 100% !important;
  z-index: 0;
  height: auto;
  text-align: center;
 /*       text-justify: inter-word;*/
}

#splash h1 {
  color: white;
  margin: 10% 0 3% 0;
  }

#splash h3 {
  color: white;
  margin-bottom: 5%
  }

ul {
  list-style-type: none;
}

.container {
  width: 80%;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 3em;
  padding-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  background-color: #EDF5DF;
}

.container#home {
  background-color: rgba(65,57,69,0.6);
  height: auto;
}

input.button, a.button {
  background-color: #86a02d;
}

input.button#taste {
  background-color: #9685a0;
}

body {
  background-color: #e3ebd6 !important;
  font-family: 'Noto Sans', sans-serif !important;
}

body a {
  color: #33cc33;
}

button:hover, button:focus, .button:hover, .button:focus {
  background-color: #4d591a !important;
}

input.button#taste:hover {
  background-color: rgba(65,57,69,.8) !important;
}

#home h3, h4 {
  text-align: center;
  color: white !important;
  font-family: 'Noto Sans', sans-serif !important;
}

#home {
  color: white !important;
}

#home p {
  font-size: 1.2em;
}

#tutorial a{
  color: #4d591a !important;
}

#tutorial a:hover{
  color: #9685a0 !important;
}

#tutorial h4{
  text-align: left;
  color: black !important;
}

#tutorial blockquote{
  border-left: none;
  color: #9685a0;
  background-color: rgba(150,133,160,.1) !important; /*background or no?*/
  padding-bottom: 1%;
}

div.marketing {
  background-color: #EDF5DF;
  width: 100%;
  height: auto;
  margin: 0;
  float:left;
}

.snippet1 {
  display: inline-block;
  float: left;
  width: 50%;
  padding: 5%;
  height: 15%;
}

.snippet2 {
  display: inline-block;
  float: right;
  width: 50%;
  padding: 5%;
  height: 15%;
}

.glass-icon {
  text-align:center;
  display:block;
}

.bottle-icon {
  text-align:center;
  display:block;
  padding-bottom: 1%;
}

.container h4{
  color: black !important;
  text-align: left;
}

.container#home h4{
  color: white !important;
}

.clear {
  clear: both;
}

.footer {
  height: auto;
  text-align: right;
  width:100%;
  height:auto;
  padding:2%;
  bottom:0;
  left:0;
}

.footer a {
  color: black;
}

.card {
  background: #F6FCEB;
  border: 1px solid #e3ebd6;
  border-bottom: 2px solid #e3ebd6;
  border-right: 2px solid #e3ebd6;
  border-radius: 5px;
  padding: 25% 20%;
  margin: 3%;
  overflow: hidden;
  font-size: 1em;
}

.card label {
  font-size: 1em;
}

.card label h2{
  font-size: 1.5em;
}
